
  html
  body {
    margin: 0;
    padding: 0;
  
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #02616B;
    color: #13ADB4;
    padding: 20px;
    font-weight: bold;
  }
  .header-content {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .header-buttons {
    margin-left:700px; 
  }
  
  .header-button {
    background-color: #02616B;
    color: #13ADB4;
    border: none;
    padding: 10px 8px ;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 80px;
    
  }
  
  .header-button:hover {
    background-color: #B3FFFF;
  }
  .main {
    display: flex; 
    width: 100%;
    min-height: 100vh;
  
  }
  .sidebar {
    background-color: #FED0AD;
    padding: 20px;
    border-right: 1px solid #ddd;
    width: 200px; 
  }
  
  
  .sidebar-title {
    margin-bottom: 10px;
  }
  
  .header .fa-screwdriver-wrench {
    margin-left: 5px; 
    
  }
  
  hr {
    margin: 10px 0;
    border: none;
    border-top: 2px solid black ;
  }
  .check-container {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  
  .list {
    display: block;
    margin-bottom: 1px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .list input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .main::after {
    content: "";
    display: table;
    clear: both; 
    
    }
    .content {
        background-color: #FDE5A1;
        padding: 15px;
        flex: 1; 
        text-align: center;
        font-weight: bold;
        padding-right: 160px;
      }
